@charset "UTF-8";
/**
 * 
 * @authors cnzsb
 * @date    2015-12-02 15:10:22
 */

body {	background-color: #E9FCFF;}


#header {
	text-align: right;
	padding: 5px;
	border-bottom: 1px solid #ccc;
}
#header a {
	font-size: 24px;
	padding-right: 20px;
	color: #09A8FF;
}

#top {
	width: 90%;
	margin: 0 auto;
	padding: 50px;
	font-size: 20px;
}
#top .avatar {
	display: block;
	width: 50px;
	height: 50px;
	background: url('../images/avatar.jpg') 0 0 no-repeat;
	float: right;
}
#top .highlight {
	font-size: 24px;
	font-weight: bold;
	color: #19caad;
}
#top h2.highlight {
	font-size: 70px;
}

#middle {
	width: 90%;
	margin: 0 auto;
	padding: 20px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: center;
	font-size: 24px;
}
#newest {
	line-height: 50px;
	font-weight: bold;
}

#content {
	width: 90%;
	margin: 0 auto;	
	padding: 20px;
}
#content a {
	line-height: 30px;
}
#content a:visited {
	color: #0490A5;
}