@charset "UTF-8";
/**
 * @authors cnzsb
 * @email   cnzsb@foxmail.com
 * @date    2015-12-02 15:10:22
 */

body {	background-color: #E9FCFF;}

/* 鼠标选择颜色 */
::selection {
    color: #FFF;
    background-color: #19caad;
}
::-moz-selection {
    color: #FFF;
    background-color: #19caad;
}

#header {
	height: 25px;
	text-align: right;
	padding: 5px;
	border-bottom: 1px solid #ccc;
}
#header a {
	font-size: 24px;
	line-height: 25px;
	padding: 0 10px;
	color: #09A8FF;
}
#header a:hover {
	border-bottom: 2px solid #09A8FF;
}

#header-m {
	display: none;
}

#top {
	width: 90%;
	margin: 0 auto;
	padding: 20px;
	font-size: 20px;
}
.avatar {
	display: block;
	width: 100px;
	height: 100px;
	background: url('http://www.zhaoshibo.net/avatar.jpg') center center no-repeat;
	background-size: 100px 100px;
	float: right;
}
/* 高亮元素样式 */
.highlight {
	font-size: 24px;
	font-weight: bold;
	color: #19caad;
}
#top h2 {
	font-size: 70px;
}

#middle {
	width: 90%;
	margin: 0 auto;
	padding: 20px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: center;
	font-size: 24px;
}
#middle h2 {
	font-weight: normal;
	font-size: 24px;
}
#newest {
	line-height: 50px;
	font-weight: bold;
}

.especial {
	display: block;
	float: right;
	margin-right: 4%;
	font-size: 12px;
	text-align: right;
	padding-top: 10px;
	border-bottom: 1px solid #0490A5;
}
#content {
	width: 90%;
	margin: 0 auto;	
	padding: 35px;
}
#content a {
	line-height: 30px;
}
#content a:visited {
	color: #0490A5;
}

/* 新增.ife 2016.3.20*/
/* ife start */
.ife {
	width: 90%;
	margin: 0 auto;
	padding: 20px;
	border-top: 1px solid #ccc;
	line-height: 30px;
}

.ife h2 {
	font-weight: normal;
	color: #F64848;
	line-height: 40px;
}

.ife .ife-date {
	font-size: 12px;
}
/* ife end */


/* 移动端 */
@media screen and (max-width: 768px) {
	/* header start */
	#header {
		display: none;
	}
	#header-m {
		display: block;
		padding-top: 20px;
		border-bottom: 2px solid #ccc;
	}
	#header-m .avatar-m {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		margin: 0 auto;
		background: url(http://www.zhaoshibo.net/avatar.jpg) center center no-repeat;
		background-size: 100px 100px;
	}
	#header-m .nav-m {
		padding-top: 20px;
		text-align: center;
	}

	#header-m .nav-m li {
		display: inline-block;
	}

	#header-m .nav-m li a {
		font-size: 18px;
		padding: 0 8px;
		line-height: 1.8em;
	}
	/* header end */


	#top {
		font-size: 16px;
		line-height: 1.8em;
		padding: 0 5px;
	}
	.avatar {
		display: none;
	}

	/* 高亮元素样式 */
	.highlighter {
		font-size: 22px;
		line-height: 1.1em;
	}

	#top h2 {
		font-size: 40px;
		line-height: 1.2em;
	}
	#top p {
		display: inline;
	}

	/* ife start */
	.ife {
		font-size: 16px;
		padding: 0 5px;
		line-height: 1.8em;
	}

	.ife h2 {
		font-size: 24px;
		line-height: 2em;
	}

	.ife p {
		display: inline;
	}

	.ife .ife-date {
		display: block;
		text-align: right;
	}
	/* ife end */

	/* content start */
	#content {
		padding: 35px 5px;
	}
	/* content end */
}