@charset "UTF-8";
/**
 * 
 * @authors cnzsb
 * @date    2015-12-02 15:10:22
 */

body {	background-color: #E9FCFF;}


#header {
	text-align: right;
	padding: 5px;
	border-bottom: 1px solid #ccc;
}
#header a {
	font-size: 24px;
	padding-right: 20px;
	color: #09A8FF;
}

#top {
	width: 90%;
	margin: 0 auto;
	padding: 20px;
	font-size: 20px;
}
#top .avatar {
	display: block;
	width: 50px;
	height: 50px;
	background: url('../images/avatar.jpg') 0 0 no-repeat;
	float: right;
}
/* 高亮元素样式 */
.highlight {
	font-size: 24px;
	font-weight: bold;
	color: #19caad;
}
#top h2.highlight {
	font-size: 70px;
}

#middle {
	width: 90%;
	margin: 0 auto;
	padding: 20px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: center;
	font-size: 24px;
}
#middle h2 {
	font-weight: normal;
	font-size: 24px;
}
#newest {
	line-height: 50px;
	font-weight: bold;
}

.especial {
	display: block;
	float: right;
	margin-right: 4%;
	font-size: 12px;
	text-align: right;
	padding-top: 10px;
	border-bottom: 1px solid #0490A5;
}
#content {
	width: 90%;
	margin: 0 auto;	
	padding: 20px;
}
#content a {
	line-height: 30px;
}
#content a:visited {
	color: #0490A5;
}

/* 新增.ife 2016.3.20*/
/* ife start */
.ife {
	width: 90%;
	margin: 0 auto;
	padding: 20px;
	border-top: 1px solid #ccc;
	line-height: 30px;
}

.ife h2 {
	font-weight: normal;
	color: #F64848;
	line-height: 40px;
}

.ife .ife-date {
	font-size: 12px;
}
/* ife end */